<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body class="bg-dark text-light">
  <header class="main-header">
    <nav class="nav-links">
        <a href="/">Главная</a>
        <a href="/trainers">Тренажеры</a>
        <a href="/cards">Карточки</a>
    </nav>

    <form id="translateForm" class="search-container">
        {{ TranslateForm.hidden_tag() }}
        {{ TranslateForm.word(id="wordInput", class="search-input") }}
        {{ TranslateForm.submit(class="search-button") }}
    </form>

    <div class="auth-block">
        {% if current_user.is_authenticated %}
            {% if request.endpoint == 'user' %}
                <a href="/logout">Выйти</a>
            {% else %}
                <a href="/user">{{ current_user.name }}</a>
            {% endif %}
        {% else %}
            {% if request.endpoint == 'login' %}
                <a href="/register">Регистрация</a>
            {% elif request.endpoint == 'register' %}
                <a href="/login">Войти</a>
            {% else %}
                <a href="/login">Войти / Регистрация</a>
            {% endif %}
        {% endif %}
    </div>
  </header>

  <script>
    document.getElementById('translateForm').addEventListener('submit', function(e) {
        e.preventDefault();
        const word = document.getElementById('wordInput').value.trim();
        if (word) {
            // Формируем чистый URL: /translate/apple
            window.location.href = '/translate/' + encodeURIComponent(word);
        }
    });
  </script>

    <div class="container mt-5">
            {% block content %}
            {% endblock %}
    </div>
</body>
</html>
